<div class="about-container">
  <p class="welcome-msg">Welcome</p>
  <p class="main-text">
    Work Hours Tracker - is a web application that will be a helpful tool for firms to keep track of workers' working hours and tasks.

    In this app workers will be able to login or register with the firm email and password.
    The main page layout will contain the timer and the input fields for task title and description.

    The main idea is that user will be able to start the timer (to keep track of working hours) only at specific location - the work place (office building), otherwise the timer will not start.
    As an exception, if the worker has home office job then the timer starts from any location.
    In order to achieve that application it will check if the source IP belongs to the office network or not.
  </p>
  <span>Project was created by the support of
    <a id="it_girl_link" class="link" href="https://www.learnitgirl.com/"> "Learn IT, Girl" 4th Edition</a>
  </span>

<div class="link-container">
  <p><a class="link" href="https://www.learnitgirl.com/">Project on Github</a></p>
</div>
</div>
