.table-container {
  margin: 16px 100px;
  text-align: center;
  font-size: 12px;
  max-width: 400px;
}

.table-header {
  font-size: 14px;
}

.table-hover tbody tr:hover td {
  background-color: #FFFDE8;
}

