<div class="project-container">
  <form class="form-inline">
    <label class="label">Project:</label>
    <div class="dropdown">
      <button  class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Select
      </button>
      <div class="dropdown-menu" *ngIf="user">
        <a class="dropdown-item" *ngFor="let p of user.projects">{{p.name}}</a>
      </div>
    </div>
  </form>
</div>

<!-- TODO: Update text of Dropdown menu -->

<!--<script>
  $(document).ready(function(){
    $(".dropdown").on("show.bs.dropdown", function(event){
      var x = $(event.relatedTarget).text(); // Get the button text
      alert("You clicked on: " + x);
    });
  });
</script>-->

<form class="form-inline">
  <div class="form-group form-group-sm">
    <label class="control-label" for="task_name">Task name:</label>
    <div>
      <input class="form-control" type="text" id="task_name" placeholder="Task name">
    </div>
  </div>
</form>

<!-- TODO: limit number of input -->
<div class="form-group">
  <label for="task_description">Task description:</label>
  <textarea class="form-control" id="task_description" rows="3"></textarea>
</div>

<div class="table-container">
  <table class="table table-bordered ">
    <thead class="table-header">
    <tr>
      <th scope="col">Current time</th>
      <th scope="col">Total time</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="current-time">
        <span *ngIf="timer">
          {{timer.getTimeValues().toString()}}
        </span>
        <span *ngIf="!timer">
          00:00:00
        </span>
      </td>
      <td>00:00</td>
      <td id="current-date">2019/05/01</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="btn-control">
<button [ngClass]="{'btn-warning': started, 'btn-success': !started}" (click)="startTimer()" type="button" class="btn">
   <span *ngIf="!started">
          Start
   </span>
  <span *ngIf="started">
          Pause
   </span>
</button>
<button (click)="stopTimer()" id="action-btn_stop" type="button" class="btn btn-danger">Stop</button>
</div>
